.bg-container {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255, .3)
}

.form-header {
    display: block;
    font-size: 39px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.wrap-form-content {
    width: 1300px;
    background: linear-gradient(45deg, #02aab0, #00cdac);
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 18px 32px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
    width: 100%;
    color: #dc3545;
    margin-top: .25rem;
    font-size: .875em;
}

.fa-icon-size {
    font-size: 350px;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
    font-size: 25px;
}